<?xml version="1.0"?>
<ruleset name="Atlas Relics">
	<description>WordPress coding standards for the Atlas Relics theme and core plugin.</description>

	<file>themes/atlas-relics</file>
	<file>plugins/atlas-relics-core</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/assets/fonts/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg value="sp"/>

	<config name="minimum_wp_version" value="6.6"/>
	<config name="testVersion" value="8.1-"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="atlas-relics"/>
				<element value="atlas-relics-core"/>
			</property>
		</properties>
	</rule>

	<rule ref="PHPCompatibilityWP"/>
</ruleset>
